<%# <a href="/customers">Customers</a> | <a href="/orders">Orders</a> | <a href="/reviews">Reviews</a> | <a
    href="/sushis">Sushis</a> | <a href="/oceans">Oceans</a><br><br> %>

<h1>Customer</h1>

<% if flash[:success] %>
<%= flash[:success] %>
<% end %><br>
<br>

<%= @customer.name %> has <%= @customer.orders.count %> orders:<br><br>
<% @customer.orders.each do |order| %>
Order #<%= link_to order.id, order_path(order), method: :get %><br>
<% end %>
<br>
<% @customer.sushis.uniq.each do |sushi| %>
<%= @customer.name %> has ordered <%= link_to sushi.name, sushi_path(sushi), method: :get %> <%= @customer.orders.select { |order| order.sushi.name == sushi.name }.count %> time(s).<br>
<% end %>
<h3><%= @customer.name %> has reviewed the following sushis:<br></h3>
<% @customer.reviews.each do |review| %>
    <%= link_to review.sushi.name, sushi_path(review.sushi.id), method: :get %> | <%= review.rating %> stars<br>
<% end %>

<% if @customer.favorites.count > 0 %>
    <h3>Here are <%= @customer.name %>'s favorite sushi(s):</h3>
    <% @customer.favorites.each do |favorite| %>
        <%= favorite %><br>
    <% end %>
<% end %>
