<%# <a href="/customers">Customers</a> | <a href="/orders">Orders</a> | <a href="/reviews">Reviews</a> | <a
    href="/sushis">Sushis</a> | <a href="/oceans">Oceans</a><br><br> %>

<a href="/orders/new">New Order</a>

<h1>Orders</h1>

Order #<%= @order.id %> by <%= link_to @order.customer.name, customer_path(@order.customer.id), method: :get %> of
<%= link_to @order.sushi.name, sushi_path(@order.sushi.id), method: :get %><br>

<%= button_to "Return/Cancel Order", order_path(@order.id), method: :delete %><br>

<%= button_to "Review #{@order.sushi.name}", new_review_path, method: :get %><br>